body{
 background:url("integralRing.jpg") no-repeat center center fixed;
 background-size: 100% 100%;
 background-color:black;
 padding-top: 20%;
 padding-bottom: 60px;
 padding-left:50px;
}

body {
 margin: 0 auto; 
 font-size: 1.5em; 
 line-height: 1.7em;
 font-family: "Times New Roman", Times, serif; 
 color: white; 
 font-weight: 300;
}


#currentPost{ 
   max-width:80%;
   position: relative;
   left:10%;
} 

#lastestPost{
  position: absolute;
  left:5px;
}
ul {
  list-style-type: none;
  background-color: black;
  width: 100%;  
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

h1 {
font-size: 100%;
}


button {
  transition-duration: 0.4s;
  background-color: black;
  color:white;
}

button:hover {
  background-color: white; 
  color: black;
}

button2 {
  transition-duration: 0.4s;
}

button2:hover {
  background-color: blue; 
  color: white;
}

button3 {
  transition-duration: 0.4s;
}

button3:hover {
  background-color: purple; 
  color: white;
}

button4 {
  transition-duration: 0.4s;
}

button4:hover {
  background-color: violet; 
  color: white;
}

footer {
position: fixed;
left:0;
bottom:0px;
width: 100%;
background-color: black;
text-align: center;
font-size: 30px;
height:40px;
}

@media screen and (max-width:500px) {
 
  body{
   background:url("monkey.jpg") no-repeat center center fixed;
   background-size: 100% 100%;
   background-color:black;
  }
}